.footer {
    position:fixed;
    margin:auto;
    bottom:2%;
    text-align: center;
    color: rgb(233, 233, 233);
    font-family: 'IBM Plex Mono', monospace;
    width: 100%;
}

p {
    font-size: 18px;
    font-family: 'NTR', sans-serif;
}

i {
    font-size: 20px;
    margin-right: 20px;
    color:#04fccb;
}

i:hover {
    color:#fff;
    cursor: pointer;
}