.footer {
    position:relative;
    bottom:10px;
    text-align: center;
    color: rgb(233, 233, 233);
    font-family: 'NTR', sans-serif;
    width: 100%;
}

p {
    font-size: 18px;
}

i {
    font-size: 18px;
    margin-right: 20px;
    color:#04fccb;
}

i:hover {
    color:#fff;
    cursor: pointer;
}

@media only screen and (max-width: 768px){
    .footer{
        margin-top: 15%;
    }
}