<div class="experience anim">
  <div class="title">
    <h4>0.2</h4>
    <h2>Experience</h2>
  </div>
  <div class="experience-details">
    <div class="org">
      <p>Ontario Ministry of Public and Business Service Delivery</p>
    </div>
    <div class="job">
      <div class="job-title"><p>Low-Code Application Developer Co-op</p></div>
      <div class="job-duration">Jan 2022 - Sep 2022</div>
      <div class="job-details">
        <ul>
          <li>
            Worked with the RPDU (Rapid Prototype Design Unit) team to build
            low-code solutions
          </li>
          <li>
            Worked with the same team to build websites with ASP.NET MVC, Entity
            Framework, ASP.NET Core Blazor Server, AJAX, and SQL server
          </li>
          <li>
            Assisted in the 3rd OPS Hackathon as a volunteer and won the first
            place with the team
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
