.experience{
  margin: 10%;
  display: flexbox;
}

h2 {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 40px;
  font-weight: 600;
}

h4 {
    font-weight: 600;
    color: #f4fb68;
}

.title {
    margin-bottom: 10%;
    margin: 5% 15%;
}

.experience-details {
    color: rgb(221, 221, 221);
    margin: 5% 15%;
}

.work{
    display: flex;
}

.org{
    color: #f4fb68;
    margin-right: 10%;
}

.job-title {
    font-size: 22px;
    font-weight: 600;
}

.job-duration {
    font-weight: 200;
}

ul {
    margin-left: 0;
    padding: 0;
    line-height: 1.6;
    font-size: 16px;
    font-weight: 200;
}

li {
    list-style: none;
    position: relative;
}

li::before {
    content: "▹";
    left: 0px;
    color: #f4fb68;
    font-size: 20px;
    line-height: 12px;
    letter-spacing: 10px;
}