.experience{
  margin: 10%;
}

h2 {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 32px;
  font-weight: 600;
}

h4 {
    font-weight: 400;
    color: #04fccb;
}


.experience-details {
    margin-top: 5%;
    color: rgb(233, 233, 233);
    display: flex;
    justify-content: space-between;
}

.org{
    color: #04fccb;
    margin-right: 10%;
}

.job-title {
    font-size: 22px;
    font-weight: 600;
}

.job-duration {
    font-size: 14px;
    font-weight: 200;
}

ul {
    margin-left: 0;
    padding: 0;
    line-height: 1.6;
    font-size: 16px;
    font-weight: 200;
}

li {
    list-style: none;
    position: relative;
}

li::before {
    content: "▹";
    left: 0px;
    color: #04fccb;
    font-size: 20px;
    line-height: 12px;
    letter-spacing: 10px;
}

li:hover {
    color:#04fccb;
    cursor: crosshair;
}

.anim {
  opacity: 0;
  transform: translateY(30px);
  animation: moveup 0.8s linear forwards;
}

@media only screen and (max-width: 768px){
    .experience-details {
        display:contents;
    }

    .experience {
        margin: 2rem;
    }

    .org {
        width: 100%;
    }

    .job-title {
    font-size: 20px;
    font-weight: 400;
    }

    h2 {
        font-size: 24px;
    }

}